/* Custom Stylesheet */
body, html {
      margin: 0;
      -webkit-font-smoothing: antialiased;
      background:#222;
      text-align: center;
}

body, .main, html {
  padding: 0;
  width: 100%;
  float: left;
  font-family: 'Roboto',Arial,sans-serif;
}

body .header{
  color: #ecf0f1;
  margin: 25px 0;
}

.menu a {
  background: black;
  color: #fff;
  font-weight: bold;
  border-color: #444;
}

.menu a:hover {
  background: black;
  border-color: #777;
}

.menu a.active {
  background: black;
  border-color: #777;
}
.main p {
  color: #000;
  font-size: 16px;
  font-weight: 100;
}
.nav-top {
  background: black;
}
.nav-top a {
  color: #ecf0f1;
}

/* ALL DEMO */
h1 {
  color: #ffffff;
  font-family: 'Roboto',Arial,sans-serif;
  font-size: 44px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

h1 span {
  font-size: 44px;
  display: block;
}

body .nav-top {
  position: absolute; 
  z-index: 11;
  padding-top: 0;
}

body .nav-top span {
  display: inline-block;
}

.adswrap {
  margin-top: 55px;
}



.menu, .header, .nav-top {
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
  padding-top: 105px;
  padding-bottom: 0;
}

 .menu {
      padding-top: 0;
 }

canvas {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.direction {
  position: relative;
  color: #ddd;
  font-style: italic;
}
.direction a{
  color: white;
  font-weight: bold;
}

.demo4 {
  background: #470808;
}
.demo5 {
  background: #8C0E0E;
}