@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url(images/main_bg.gif) 0 0 repeat-x #FEB100;
	color:#FFFEF3;

}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}
.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}
/*------------------------------------------------main--------------------*/

/*------------------------------------------------top-------------------*/
#top{
	width:939px;
	margin:0 auto;
	background:url(images/header.jpg) left top no-repeat;
	height:378px;
	position:relative;
}
#top ul.first{
	height:29px;
	float:left;
	margin:13px 0 0 0;
}
#top ul.first li{
	float:left;
	font-size:0;
	line-height:0;
	display:block;
	padding:0 8px 0 0;
}
#top ul.first li.about{
	background:url(images/about_us_bg.gif) left top no-repeat;
	height:29px;
}
#top ul.first li a{
	display:block;
	font:bold 11px/28px Arial, Helvetica, sans-serif;
	color:#E1E1E1;
	background-color:inherit;
	text-align:center;
	text-decoration:none;
	width:65px;
}
#top ul.first li a:hover{
	background:url(images/nav_hover_new.gif) 0 0 no-repeat;
	color:#FFFEF3;
	background-color:inherit;
}
#top ul.first li a.hover{
	display:block;
	font:bold 11px/28px Arial, Helvetica, sans-serif;
	color:#FFFEF3;
	background-color:inherit;
	text-align:center;
	text-decoration:none;
	background:url(images/nav_hover_new.gif) 0 0 no-repeat;
	width:65px;
}
#top ul.sec{
	height:29px;
	float:right;
	margin:13px 0 0 0;
}
#top ul.sec li{
	float:left;
	font-size:0;
	line-height:0;
	display:block;
	padding:0 8px 0 0;
}
#top ul.sec li.about{
	background:url(images/about_us_bg.gif) left top no-repeat;
	height:29px;
}
#top ul.sec li a{
	display:block;
	font:bold 11px/28px Arial, Helvetica, sans-serif;
	color:#E1E1E1;
	background-color:inherit;
	text-align:center;
	text-decoration:none;
	width:65px;
}
#top ul.sec li a:hover{
	background:url(images/nav_hover_new.gif) 0 0 no-repeat;
	color:#FFFEF3;
	background-color:inherit;
}
#top form{
	background:url(images/top_form_bg.gif) 0 0 no-repeat;
	width:287px;
	height:25px;
	padding:11px 13px 11px 51px;
	position:absolute;
	left:587px;
	top:50px;
}
#top form label{
	display:block;
	font:bold 13px/25px Arial, Helvetica, sans-serif;
	color:#1E1E1E;
	background-color:inherit;
	width:57px;
	float:left;
}
#top form input.txtBox1{
	width:187px;
	height:23px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#404040 solid 1px;
	border-left:#404040 solid 1px;
	font:normal 10px/23px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:#fff;
	padding:0 0 0 6px;
	float:left;
}
#top form input.go{
	background:url(images/btn_go.gif) 0 0 no-repeat #fffffe;
	width:33px;
	height:25px;
	font:bold 12px/25px Arial, Helvetica, sans-serif;
	color:#fff;
	cursor:pointer;
	float:right;
	border:none;
	padding:0;
}
#top ul.topLink{
	background:url(images/top_link_bg.gif) 0 0 no-repeat;
	width:518px;
	height:69px;
	position:absolute;
	left:402px;
	top:137px;
	padding:0 0 0 19px;
}
#top ul.topLink li.project{
	display:block;
	background:url(images/div1.gif) right top repeat-y;
	padding:0 15px 0 0;
	height:69px;
	float:left;
	margin:0 10px 0 0;
}
#top ul.topLink li.project span.icon{
	background:url(images/project_icon.gif) 0 8px no-repeat;
	padding:0 7px 0 0;
	width:34px;
	display:block;
	float:left;
	height:69px;
}
#top ul.topLink li.project span.black{
	font:normal 10px/18px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
}
#top ul.topLink li.project  a{
	font:bold 18px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	margin:17px 0 0 0;
	display:block;
}
#top ul.topLink li.project  a:hover{
	color:#000;
	background-color:inherit;
}
#top ul.topLink li.network{
	display:block;
	background:url(images/div1.gif) right top repeat-y;
	padding:0 15px 0 0;
	height:69px;
	float:left;
	margin:0 10px 0 0;
}
#top ul.topLink li.network span.icon2{
	background:url(images/network_icon.gif) 0 8px no-repeat;
	padding:0 7px 0 0;
	width:34px;
	display:block;
	float:left;
	height:69px;
}
#top ul.topLink li.network span.black2{
	font:normal 10px/18px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
}
#top ul.topLink li.network  a{
	font:bold 18px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	margin:17px 0 0 0;
	display:block;
}
#top ul.topLink li.network  a:hover{
	color:#000;
	background-color:inherit;
}
#top ul.topLink li.addNote{
	display:block;
	padding:0 15px 0 0;
	height:69px;
	float:left;
	margin:0 0 0 0;
}
#top ul.topLink li.addNote span.icon3{
	background:url(images/add_note_icon.gif) 0 8px no-repeat;
	padding:0 7px 0 0;
	width:34px;
	display:block;
	float:left;
	height:69px;
}
#top ul.topLink li.addNote span.black3{
	font:normal 10px/18px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
}
#top ul.topLink li.addNote  a{
	font:bold 18px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	margin:17px 0 0 0;
	display:block;
}
#top ul.topLink li.addNote  a:hover{
	color:#000;
	background-color:inherit;
}
#top h2.getStart{
	display:block;
	background:url(images/getting_started.gif) 0 0 no-repeat;
	width:524px;
	height:49px;
	position:absolute;
	left:402px;
	top:207px;
	padding:0 0 0 13px;
	font:bold 21px/45px Arial, Helvetica, sans-serif;
	color:#353535;
	background-color:inherit;
}
#top ul.topLink2{
	width:537px;
	height:65px;
	position:absolute;
	left:402px;
	top:276px;
}
#top ul.topLink2 li{
	display:block;
	margin:0 4px 0 0;
	font-size:0;
	line-height:0;
	float:left;
}
#top ul.topLink2 li.noMargin{
	margin:0;
}
#top ul.topLink2 li a{
	display:block;
	font:normal 22px/65px Arial, Helvetica, sans-serif;
	color:#E8E8E8;
	background-color:inherit;
	text-decoration:none;
	text-align:center;
}
#top ul.topLink2 li a:hover{
	color:#FEB100;
	background-color:inherit;
}
#top ul.topLink2 li a.idea1{
	display:block;
	background:url(images/idea1.gif) 0 0 no-repeat;
	width:73px;
	height:65px;
}
#top ul.topLink2 li a.idea2{
	display:block;
	background:url(images/idea2.gif) 0 0 no-repeat;
	width:73px;
	height:65px;
}
#top ul.topLink2 li a.idea3{
	display:block;
	background:url(images/idea3.gif) 0 0 no-repeat;
	width:73px;
	height:65px;
}
#top ul.topLink2 li a.idea4{
	display:block;
	background:url(images/idea4.gif) 0 0 no-repeat;
	width:73px;
	height:65px;
}
#top ul.topLink2 li a.idea5{
	display:block;
	background:url(images/idea5.gif) 0 0 no-repeat;
	width:74px;
	height:65px;
}
#top ul.topLink2 li a.idea6{
	display:block;
	background:url(images/idea6.gif) 0 0 no-repeat;
	width:74px;
	height:65px;
}
#top ul.topLink2 li a.idea7{
	display:block;
	background:url(images/idea7.gif) 0 0 no-repeat;
	width:73px;
	height:65px;
}
#top img.logo{
	display:block;
	font-size:0;
	line-height:0;
	position:absolute;
	left:0;
	top:71px;
	border:none;
}
#top ul.leftNav{
	width:146px;
	position:absolute;
	left:0;
	top:167px;
}
#top ul.leftNav li{
	display:block;
	height:21px;
	background:url(images/div2.gif) left bottom repeat-x;
}
#top ul.leftNav li a{
	display:block;
	background:url(images/bullet.gif) 0 8px no-repeat;
	padding:0 0 0 13px;
	font:bold 11px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#top ul.leftNav li a:hover{
	color:#fff;
	background-color:#EFA801;
}
#top ul.leftNav li.noImg2{
	background-image:none;
}
/*------------------------------------------------top-------------------*/

/*------------------------------------------------bot-------------------*/
#bot{
	width:939px;
	margin:0 auto;
	padding:0 0 24px 0;
	background-attachment: scroll;
	background-image: url(images/middle_background.gif);
	background-repeat: repeat-y;
	background-position: -215px;
}
/*------------------------------------------------left-------------------*/
#left{
	width:146px;
	margin:0 36px 0 0;
	float:left;
}
#left h2.newsLinks{
	display:block;
	color:#1A1A1A;
	background-color:inherit;
	font:bold 21px/21px Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
}
#left ul{
	width:146px;
}
#left ul li{
	display:block;
	height:21px;
	background:url(images/div2.gif) left bottom repeat-x;
}
#left ul li a{
	display:block;
	background:url(images/bullet.gif) 0 8px no-repeat;
	padding:0 0 0 13px;
	font:bold 11px/20px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
}
#left ul li a:hover{
	color:#fff;
	background-color:#EFA801;
}
#left ul li.noImg2{
	background-image:none;
}
#left h2.service{
	display:block;
	color:#1A1A1A;
	background-color:inherit;
	font:bold 21px/21px Arial, Helvetica, sans-serif;
	margin:44px 0 0 0;
}
#left h3{
	display:block;
	color:#CA3907;
	background-color:inherit;
	font:bold 12px/20px Arial, Helvetica, sans-serif;
	margin:8px 0 5px 0;
}
/*------------------------------------------------left-------------------*/

/*------------------------------------------------mid-------------------*/
#mid{
	width:187px;
	float:left;
	background-color:#FFC541;
	color:#fff;
	height: 100%;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 28px;
	padding-left: 0;
}
#mid h2{
	display:block;
	background:url(images/member_login_bg.gif) 9px 8px no-repeat #3B3B3B;
	padding:0 0 0 31px;
	font:bold 13px/30px Arial, Helvetica, sans-serif;
	color:#fff;
}
#mid form{
	padding:6px 12px 32px 12px;
}
#mid form label.nor{
	display:block;
/*	width:160px;*/
	font:bold 11px/25px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
/*	float:left;*/
	height:25px !important;
	padding:0; margin:0;
}
#mid form input.txtBox2{
	width:158px;
	height:23px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#404040 solid 1px;
	border-left:#404040 solid 1px;
	font:normal 10px/23px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:#fff;
/*	float:left;*/
}
#mid form input.login{
	background:url(images/btn_login.gif) 0 0 no-repeat #FFC541;
	width:57px;
	height:21px;
	font:normal 10px/21px Arial, Helvetica, sans-serif;
	color:#fff;
	cursor:pointer;
	float:right;
	border:none;
	padding:0;
	margin:9px 0 0 0;
}
#mid form input.check{
	width:12px;
	height:12px;
	margin:13px 8px 0 0;
	float:left;
}
#mid form label.red{
	display:block;
	width:69px;
	font:normal 11px/12px Arial, Helvetica, sans-serif;
	color:#DA3F09;
	background-color:inherit;
	float:left;
	margin:13px 0 0 0;
}
#mid form a{
	font:bold 11px/23px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
	text-decoration:underline;
	margin:10px 0 0 0;
	float:left;
}
#mid form a:hover{
	text-decoration:none;
}
#mid p.banner{
	display:block;
	background:url(images/banner1.gif) 0 0 no-repeat;
	width:64px;
	height:50px;
	padding:42px 0 0 123px;
}
#mid p.banner a{
	background:url(images/join_now_bg.gif) 0 0 no-repeat;
	width:18px;
	height:18px;
	padding:9px 15px;
	font:normal 10px/10px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	display:block;
}
#mid p.banner a:hover{
	color:#FFC541;
	background-color:inherit;
}
#mid p.reg{
	display:block;
	height:35px;
	background-color:#fff;
	color:#000;
	padding:8px 0 0 18px;
}
#mid p.reg a{
	font:bold 13px/35px Arial, Helvetica, sans-serif;
	color:#1E1E1E;
	background-color:inherit;
	text-decoration:none;
}
#mid p.reg a:hover{
	color:#898989;
	background-color:inherit;
}
#mid p.reg a span{
	color:#fff;
	background-color:#BE3303;
	width:41px;
	height:16px;
	text-align:center;
	text-transform:uppercase;
	margin:0 6px 0 0;
	padding:0 2px;
}
#mid p.reg a:hover span{
	color:#FFC541;
	background-color:#BE3303;
}
#mid h2.newsletter{
	display:block;
	background:url(images/newsletter_icon.gif) 11px 3px no-repeat #FFD576;
	padding:0 0 0 40px;
	font:bold 13px/28px Arial, Helvetica, sans-serif;
	color:#3A3A3A;
	margin:16px 0 8px 0;
}
#mid form.nl{
	padding:0 12px;
}
#mid form.nl input.txtBox3{
	width:152px;
	height:23px;
	border-bottom:#D4D0C8 solid 1px;
	border-right:#D4D0C8 solid 1px;
	border-top:#404040 solid 1px;
	border-left:#404040 solid 1px;
	font:normal 11px/23px Arial, Helvetica, sans-serif;
	color:#9F2B03;
	background-color:#fff;
	padding:0 0 0 9px;
	float:left;
}
#mid form.nl input.signup2{
	background:url(images/btn_login.gif) 0 0 no-repeat #FFC541;
	width:57px;
	height:21px;
	font:normal 10px/21px Arial, Helvetica, sans-serif;
	color:#fff;
	cursor:pointer;
	float:right;
	border:none;
	padding:0 0 0 10px;
	margin:5px 0 0 0;
}
/*------------------------------------------------mid-------------------*/

/*------------------------------------------------right-------------------*/
#right{
	width:730px;
	float:right;
}
#right h2.rightTop{
	display:block;
	font:bold 33px/33px Arial, Helvetica, sans-serif;
	color:#FFFEF3;
	background-color:inherit;
	float:left;
	width: 70%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 9px;
	margin-left: 0;
}
.contactbg {
}

#right h3{
	display:block;
	width:310px;
	font:normal 19px/20px Arial, Helvetica, sans-serif;
	color:#484848;
	background-color:inherit;
	margin:0 0 30px 0;
	float:left;
}
#right p.rightTxt{
	display:block;
	width:500px;
	font:normal 11px/15px Arial, Helvetica, sans-serif;
	color:#FFFEF3;
	background-color:inherit;
	padding:0 0 9px 0;
	float:left;
}
#right p.rightTxt span.yellow1{
	font:bold 13px/17px Arial, Helvetica, sans-serif;
	color:#FFFB91;
	background-color:inherit;
	padding:0 0 22px 0;
	display:block;
}
#right p.rightTxt span.yellow2{
	font:bold 13px/17px Arial, Helvetica, sans-serif;
	color:#FFFB91;
	background-color:inherit;
	padding:22px 0 9px 0;
	display:block;
}
#rightPic{
	background:url(images/right_pic.jpg) left top no-repeat;
	width:160px;
	height:87px;
	float:right;
	padding:183px 0 0 65px;
}
#rightPic a{
	display:block;
	background:url(images/join_now_bg2.gif) 0 0 no-repeat;
	width:90px;
	height:30px;
	font:bold 12px/30px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	text-decoration:none;
	padding:0 0 0 14px;
}
#rightPic a:hover{
	color:#000;
	background-color:inherit;
}
#rightPic p.shadow{
	display:block;
	background:url(images/join_now_shadow.gif) 0 0 no-repeat;
	width:104px;
	height:30px;
}
#right ul.rightLink2{
	width:308px;
	float:left;
	padding:0 0 23px 0;
	
}
#right ul.rightLink2 li{
	font-size:0;
	line-height:0;
	margin:0 0 3px 0;
}
#right ul.rightLink2 li a.big{
	display:block;
	width:284px;
	height:21px;
	background:url(images/arrow.gif) 8px 6px no-repeat #3A3A3A;
	color:#fff;
	padding:0 0 0 24px;
	font:normal 11px/21px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#right ul.rightLink2 li a.big:hover{
	color:#FEB100;
	background-color:#3A3A3A;
}
#right ul.rightLink2 li a.small1{
	display:block;
	width:197px;
	height:21px;
	background:url(images/arrow.gif) 8px 6px no-repeat #3A3A3A;
	color:#fff;
	padding:0 0 0 24px;
	font:normal 11px/21px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#right ul.rightLink2 li a.small1:hover{
	color:#FEB100;
	background-color:#3A3A3A;
}
#right ul.rightLink2 li a.small2{
	display:block;
	width:249px;
	height:21px;
	background:url(images/arrow.gif) 8px 6px no-repeat #3A3A3A;
	color:#fff;
	padding:0 0 0 24px;
	font:normal 11px/21px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
#right ul.rightLink2 li a.small2:hover{
	color:#FEB100;
	background-color:#3A3A3A;
}
#right p.round{
	display:block;
	background:url(images/round_bg.gif) 0 0 no-repeat;
	width:297px;
	height:24px;
	padding:0 0 0 10px;
	font:bold 13px/24px Arial, Helvetica, sans-serif;
	color:#BE3303;
	background-color:inherit;
	margin:0 225px 18px 0;
	float:left;
}
#right p.round span{
	background:url(images/date_icon.gif) 0 0 no-repeat;
	padding:0 0 0 24px;
	font:bold 12px/24px Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:inherit;
	margin:0 0 0 8px;
}
#right p.rightTxt2{
	display:block;
	width:700px;
	font:italic 12px/18px Arial, Helvetica, sans-serif;
	color:#272727;
	background-color:inherit;
	float:left;
	background-repeat: no-repeat;
	background-position: 190px 38px;
}
#right p.rightTxt3{
	display:block;
	width:700px;
	font:italic 12px/18px Arial, Helvetica, sans-serif;
	color:#272727;
	background-color:inherit;
	float:left;
	background-repeat: no-repeat;
	background-position: 190px 38px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}
#right img.coma2{
	display:block;
	width:18px;
	height:14px;
	float:left;
	padding:0 7px 0 0;
}
	
/*------------------------------------------------right-------------------*/

/*------------------------------------------------bot-------------------*/

/*------------------------------------------------footer-------------------*/
#footerMain{
	width:100%;
	background:url(images/footer_bg.gif) 0 0 repeat-x #FFFEF3;
	color:#000;
	height:101px;
}
#footer{
	width:939px;
	margin:0 auto;
	position:relative;
	height:101px;
}
#footer ul{
	position:absolute;
	left:0;
	top:17px;
}
#footer ul li{
	float:left;
	font:normal 11px/20px Arial, Helvetica, sans-serif;
	color:#E1E1E1;
	background-color:inherit;
}
#footer ul li a{
	padding:0 7px;
	font:normal 11px/20px Arial, Helvetica, sans-serif;
	color:#E1E1E1;
	background-color:inherit;
	text-decoration:none;
}
#footer ul li a:hover{
	color:#FEB100;
	background-color:inherit;
}
#footer ul li a.home{
	padding:0 7px 0 0;
	font:normal 11px/20px Arial, Helvetica, sans-serif;
	color:#E1E1E1;
	background-color:inherit;
	text-decoration:none;
}
#footer ul li a.home:hover{
	color:#FEB100;
	background-color:inherit;
}
#footer p.copyright{
	font:normal 10px/20px Arial, Helvetica, sans-serif;
	position:absolute;
	left:0;
	top:36px;
	width:226px;
	color:#E44813;
	background-color:inherit;
}
#footer a.xhtml{
	display:block;
	background:url(images/css_bg.gif) 0 0 no-repeat;
	width:65px;
	height:26px;
	position:absolute;
	left:852px;
	top:14px;
	font:bold 12px/26px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	padding:0 0 0 21px;
	background-color:inherit;
}
#footer a.xhtml:hover{
	color:#FEB100;
	background-color:inherit;
}
#footer a.css{
	display:block;
	background:url(images/css_bg.gif) 0 0 no-repeat;
	width:65px;
	height:26px;
	position:absolute;
	left:762px;
	top:14px;
	font:bold 12px/26px Arial, Helvetica, sans-serif;
	color:#fff;
	text-decoration:none;
	padding:0 0 0 21px;
	background-color:inherit;
}
#footer a.css:hover{
	color:#FEB100;
	background-color:inherit;
}
#footer p.design{
	display:block;
	width:205px;
	position:absolute;
	left:382px;
	top:79px;
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#AE2F03;
	background-color:inherit;
	padding:2px;
	text-transform:uppercase;
}
#footer p.design a.link{
	font:bold 11px/17px Arial, Helvetica, sans-serif;
	color:#202020;
	background-color:inherit;
	text-decoration:none;
	padding:2px;
	
}
#footer p.design a.link:hover{
	color:#fff;
	background-color:#000;
}
/*------------------------------------------------footer-------------------*/
/*------------------------------------------------contact--------------------*/

.submitbutton {
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(images/submitbg1.gif);
	height: 21px;
	width: 100px;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: center center;
	float: left;
	border: 1px solid #A3AA90;
	margin: 0px;
	padding: 0px;
}
/*------------------------------------------------Email--------------------*/
.contactformmsgfild {

	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 75%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}

/*------------------------------------------------Textboxon Email--------------------*/

.borderEffect
{
background-color:#FFFFCC;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #FFCC00;
}
.borderEffect:hover
{
background-color:#FFCC89;
color:#A05A3D;
margin:0px;
padding:0px;
border:1px solid #A05A3D;
}
/*------------------------------------------------Textbox on Email--------------------*/
/*------------------------------------------------Textbox --------------------*/

.textboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #FF9900;
	height: 18px;
	width: 250px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.textboxEffect:hover
{
background-color:#FFFFFF;
color:#FEB100;
margin:0px;
padding:0px;
border:1px solid #990000;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textbox --------------------*/
/*------------------------------------------------Textboxdropdown --------------------*/

.dropdownEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #FF6600;
	height: 18px;
	width: 260px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.dropdownEffect:hover
{
background-color:#FFFFFF;
color:#FEB100;
margin:0px;
padding:0px;
border:1px solid #990000;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Textboxdropdown --------------------*/
/*------------------------------------------------Massagebox --------------------*/

.MassageboxEffect
{
	background-color:#FFFFFF;
	color:#000000;
	border:1px solid #FF6600;
	height: 170px;
	width: 350px;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	float: left;
}
.MassageboxEffect:hover
{
background-color:#FFFFFF;
color:#FEB100;
margin:0px;
padding:0px;
border:1px solid #990000;
	font-family: Verdana;
	font-size: 11px;
	line-height: 19px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 11px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
/*------------------------------------------------Contact--------------------*/
.contactdropdownformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #95A334;
	height: 20px;
	width: 75%;
	float: left;
	margin: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
}

.contactformfield {
	font-family: Verdana;
	font-size: 11px;
	color: #95A334;
	height: 20px;
	width: 75%;
	float: left;
	margin: 3px;
	padding: 3px;
	top: 1px;
	clip: rect(1px,auto,auto,auto);
	clear: none;
	right: 30px;
}
.contactsubmit {
	font-family: Verdana;
	font-size: 11px;
	color: #ffffff;
	background-attachment: scroll;
	background-image: url(images/read_more_bg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	height: 20px;
	width: 76%;
	clip: rect(500px,500px,auto,auto);
	top: 500px;
	right: 500px;
	bottom: 500px;
	left: 500px;
	float: left;
	margin: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 120px;
}

.contactformmessage {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 75%;
	float: none;
	margin: 3px;
	padding: 3px;
}
.contactfornmsg {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	height: 170px;
	width: 75%;
	margin: 3px;
	padding: 3px;
}

.contactbox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 18px;
}
.contactmessagebox {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	border: 1px solid #CCCCCC;
	height: 170px;
}
.contacttextarea {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	margin: 3px;
	padding: 3px;
}
.filltheform {
	font-family: Verdana;
	font-size: 14px;
	color: #92C102;
	margin: 5px;
	padding: 5px;
	float: left;
	height: 20px;
	width: 700px;
}

.contacttext {
	margin: 3px;
	height: 18px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
}
.contacthead {
}

.contacthead {
	font-family: Verdana;
	font-size: 25px;
	font-weight: normal;
	color: #FFFFFF;
	margin: 3px;
	padding: 3px;
	height: 20px;
	width: 600px;
}
.contactsubhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	height: 30px;
	width: 700px;
	margin: 5px;
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}


.commenttext {
	margin: 3px;
	height: 170px;
	width: 100px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #FFFFFF;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
}
.submitarea {
	margin: 5px;
	height: 30px;
	width: 500px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 145px;
	float: left;
}

.contacterrortext {
	margin: 3px;
	padding: 3px;
	height: 18px;
	width: 10px;
	float: left;
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
}
.contactbg {
	font-family: Verdana;
	font-size: 11px;
	color: #000000;
	background-image: url(images/contactbg.jpg);
	width: 630px;
	padding-left: 40px;
	padding-top: 20px;
	height: 520px;
}

.contacttexthead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #759C25;
	margin: 3px;
	padding: 3px;
}

/*------------------------------------------------Contact--------------------*/.indicates {
	font-family: Verdana;
	font-size: 14px;
	color: #FFFFFF;
	margin: 5px;
	padding: 5px;
	float: left;
	height: 20px;
	width: 700px;
}
.contactbg {
	font-family: Verdana;
	font-size: 14px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 730px;
	background-image: url(images/contactbg.gif);
	background-attachment: scroll;
	background-repeat: repeat;
	background-position: center center;
	height: 900px;
}
.contactempty {
	height: 20px;
	width: 650px;
}
.address1 {
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	height: 20px;
	width: 600px;
	margin: 3px;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 30px;
}
.address2 {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
	width: 600px;
	margin: 1px;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
}
.emptyaddress {
	height: 25px;
	width: 600px;
}
